@import '../../node_modules/ladda/css/ladda.scss';

// 3. Ladda themes

$ladda-green: #2aca76;
$ladda-blue: #53b5e6;
$ladda-red: #ea8557;
$ladda-purple: #9973C2;
$ladda-mint: #16a085;

/*************************************
 * BUTTON THEME
 */

.ladda-button {
  background: #666;
  border: 0;
  padding: 14px 18px;
  font-size: 18px;
  cursor: pointer;

  color: #fff;
  border-radius: 2px;
  border: 1px solid transparent;

  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:hover {
    border-color: rgba( 0, 0, 0, 0.07 );
    background-color: #888;
  }

  @include buttonColor( 'green', $ladda-green );
  @include buttonColor( 'blue', $ladda-blue );
  @include buttonColor( 'red', $ladda-red );
  @include buttonColor( 'purple', $ladda-purple );
  @include buttonColor( 'mint', $ladda-mint );

  &[disabled],
  &[data-loading] {
    border-color: rgba( 0, 0, 0, 0.07 );

    &, &:hover {
      cursor: default;
      background-color: #999;
    }
  }

  &[data-size=xs] {
    padding: 4px 8px;

    .ladda-label {
      font-size: 0.7em;
    }
  }

  &[data-size=s] {
    padding: 6px 10px;

    .ladda-label {
      font-size: 0.9em;
    }
  }

  &[data-size=l] .ladda-label {
    font-size: 1.2em;
  }

  &[data-size=xl] .ladda-label {
    font-size: 1.5em;
  }
}
